# **Assignment**

**Question1 - Import pandas, matplotlib and numpy libraries and load titanic (titanic.csv) data set as ‘Titanic’.**

In [3]:
from pandas import *
from matplotlib import *
from numpy import *
from scipy import *
import re 

url = 'https://raw.githubusercontent.com/RavinderSBawa/DS/master/titanic_train-1.csv'
Titanic=read_csv(url)

Titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**Question2 - Display the all the columns present in the Titanic data-set and print the columns name.**

In [2]:
print('Columns present in Titanic data-set are ',Titanic.keys().values)

Columns present in Titanic data-set are  ['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

**Question3 - Display which columns have NAn values.**

In [3]:
Titinac_NaN=Titanic.columns[Titanic.isnull().any()]
print('Columns have Nan values are ',Titinac_NaN.values)

Columns have Nan values are  ['Age' 'Cabin' 'Embarked']

In [4]:
Titanic_S = Titanic["Survived"]

In [21]:
Sr_sum = int(sum(Titanic_S))

In [22]:
Sr_sum
type(Sr_sum)

int

In [20]:
Sur_Co = len(Titanic_S)
Sur_Co
type(Sur_Co)

int

In [25]:
Dead = Sur_Co - Sr_sum
print('Total No. of Survived people are ',Sr_sum)
print('Total No. of Dead people are', Dead)

Total No. of Survived people  342
Total No. of Dead people  549

In [65]:
len(Titanic["Sex"])
i=0
b=0
for male in Titanic.Sex(i) :
    i=i+1
    
else:
    b=b+1

TypeError: 'Series' object is not callable

In [69]:
Titanic.Sex.index[0]

0

In [38]:
i=0
if male in Titanic :
    i=i+1
    print(i)

1

In [25]:
T_GG = Titanic["Sex"]

In [51]:
T_G=Titanic.groupby('Sex').filter(Titanic("Sex")="male")

SyntaxError: keyword can't be an expression (<ipython-input-51-eecfb5f04ca9>, line 1)

In [52]:
T_G.agg([sum])

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare
,sum,sum,sum,sum,sum,sum,sum,sum,sum
Sex,,,,,,,,,
female,135343,233,678,"Cumings, Mrs. John Bradley (Florence Briggs Th...",7286.00,218,204,PC 17599STON/O2. 3101282113803347742237736PP 9...,13966.6628
male,262043,109,1379,"Braund, Mr. Owen HarrisAllen, Mr. William Henr...",13919.17,248,136,A/5 2117137345033087717463349909A/5. 215134708...,14727.2865

In [36]:
T_G.get_group('male')

TypeError: ("unsupported operand type(s) for +: 'int' and 'str'", 'occurred at index Cabin')

In [30]:
for sex,group in T_G:
    print (sex)
    print (group)

female
     PassengerId  Survived  Pclass  \
1              2         1       1
2              3         1       3
3              4         1       1
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
14            15         0       3
15            16         1       2
18            19         0       3
19            20         1       3
22            23         1       3
24            25         0       3
25            26         1       3
28            29         1       3
31            32         1       1
32            33         1       3
38            39         0       3
39            40         1       3
40            41         0       3
41            42         0       2
43            44         1       2
44            45         1       3
47            48         1       3
49            50         0       3
52            53         1       1
53            54         1       2
56            57         1       2
58            59         1       2
61            62         1       1
..           ...       ...     ...
807          808         0       3
809          810         1       1
813          814         0       3
816          817         0       3
820          821         1       1
823          824         1       3
829          830         1       1
830          831         1       3
835          836         1       1
842          843         1       1
849          850         1       1
852          853         0       3
853          854         1       1
854          855         0       2
855          856         1       3
856          857         1       1
858          859         1       3
862          863         1       1
863          864         0       3
865          866         1       2
866          867         1       2
871          872         1       1
874          875         1       2
875          876         1       3
879          880         1       1
880          881         1       2
882          883         0       3
885          886         0       3
887          888         1       1
888          889         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
19                             Masselmani, Mrs. Fatima  female   NaN      0
22                         McGowan, Miss. Anna "Annie"  female  15.0      0
24                       Palsson, Miss. Torborg Danira  female   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
28                       O'Dwyer, Miss. Ellen "Nellie"  female   NaN      0
31      Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
32                            Glynn, Miss. Mary Agatha  female   NaN      0
38                  Vander Planke, Miss. Augusta Maria  female  18.0      2
39                         Nicola-Yarred, Miss. Jamila  female  14.0      1
40      Ahlin, Mrs. Johan (Johanna Persdotter Larsson)  female  40.0      1
41   Turpin, Mrs. William John Robert (Dorothy Ann ...  female  27.0      1
43            Laroche, Miss. Simonne Marie Anne Andree  female   3.0      1
44                       Devaney, Miss. Margaret Delia  female  19.0      0
47                           O'Driscoll, Miss. Bridget  female   NaN      0
49       Arnold-Franchi, Mrs. Josef (Josefine Franchi)  female  18.0      1
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.0      1
53   Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...  female  29.0      1
56                                   Rugg, Miss. Emily  female  21.0      0
58                        West, Miss. Constance Mirium  female   5.0      1
61                                 Icard, Miss. Amelie  female  38.0      0
..                                                 ...     ...   ...    ...
807                    Pettersson, Miss. Ellen Natalia  female  18.0      0
809     Chambers, Mrs. Norman Campbell (Bertha Griggs)  female  33.0      1
813                 Andersson, Miss. Ebba Iris Alfrida  female   6.0      4
816                       Heininen, Miss. Wendla Maria  female  23.0      0
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...  female  52.0      1
823                                 Moor, Mrs. (Beila)  female  27.0      0
829          Stone, Mrs. George Nelson (Martha Evelyn)  female  62.0      0
830            Yasbeck, Mrs. Antoni (Selini Alexander)  female  15.0      1
835                        Compton, Miss. Sara Rebecca  female  39.0      1
842                            Serepeca, Miss. Augusta  female  30.0      0
849       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)  female   NaN      1
852                            Boulos, Miss. Nourelain  female   9.0      1
853                          Lines, Miss. Mary Conover  female  16.0      0
854      Carter, Mrs. Ernest Courtenay (Lilian Hughes)  female  44.0      1
855                         Aks, Mrs. Sam (Leah Rosen)  female  18.0      0
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.0      1
858              Baclini, Mrs. Solomon (Latifa Qurban)  female  24.0      0
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"  female   NaN      8
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
866                       Duran y More, Miss. Asuncion  female  27.0      1
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1

     Parch            Ticket      Fare Cabin Embarked
1        0          PC 17599   71.2833   C85        C
2        0  STON/O2. 3101282    7.9250   NaN        S
3        0            113803   53.1000  C123        S
8        2            347742   11.1333   NaN        S
9        0            237736   30.0708   NaN        C
10       1           PP 9549   16.7000    G6        S
11       0            113783   26.5500  C103        S
14       0            350406    7.8542   NaN        S
15       0            248706   16.0000   NaN        S
18       0            345763   18.0000   NaN        S
19       0              2649    7.2250   NaN        C
22       0            330923    8.0292   NaN        Q
24       1            349909   21.0750   NaN        S
25       5            347077   31.3875   NaN        S
28       0            330959    7.8792   NaN        Q
31       0          PC 17569  146.5208   B78        C
32       0            335677    7.7500   NaN        Q
38       0            345764   18.0000   NaN        S
39       0              2651   11.2417   NaN        C
40       0              7546    9.4750   NaN        S
41       0             11668   21.0000   NaN        S
43       2     SC/Paris 2123   41.5792   NaN        C
44       0            330958    7.8792   NaN        Q
47       0             14311    7.7500   NaN        Q
49       0            349237   17.8000   NaN        S
52       0          PC 17572   76.7292   D33        C
53       0              2926   26.0000   NaN        S
56       0        C.A. 31026   10.5000   NaN        S
58       2        C.A. 34651   27.7500   NaN        S
61       0            113572   80.0000   B28      NaN
..     ...               ...       ...   ...      ...
807      0            347087    7.7750   NaN        S
809      0            113806   53.1000    E8        S
813      2            347082   31.2750   NaN        S
816      0  STON/O2. 3101290    7.9250   NaN        S
820      1             12749   93.5000   B69        S
823      1            392096   12.4750  E121        S
829      0            113572   80.0000   B28      NaN
830      0              2659   14.4542   NaN        C
835      1          PC 17756   83.1583   E49        C
842      0            113798   31.0000   NaN        C
849      0             17453   89.1042   C92        C
852      1              2678   15.2458   NaN        C
853      1          PC 17592   39.4000   D28        S
854      0            244252   26.0000   NaN        S
855      1            392091    9.3500   NaN        S
856      1             36928  164.8667   NaN        S
858      3              2666   19.2583   NaN        C
862      0             17466   25.9292   D17        S
863      2          CA. 2343   69.5500   NaN        S
865      0            236852   13.0000   NaN        S
866      0     SC/PARIS 2149   13.8583   NaN        C
871      1             11751   52.5542   D35        S
874      0         P/PP 3381   24.0000   NaN        C
875      0              2667    7.2250   NaN        C
879      1             11767   83.1583   C50        C
880      1            230433   26.0000   NaN        S
882      0              7552   10.5167   NaN        S
885      5            382652   29.1250   NaN        Q
887      0            112053   30.0000   B42        S
888      2        W./C. 6607   23.4500   NaN        S

[314 rows x 12 columns]
male
     PassengerId  Survived  Pclass                                     Name  \
0              1         0       3                  Braund, Mr. Owen Harris
4              5         0       3                 Allen, Mr. William Henry
5              6         0       3                         Moran, Mr. James
6              7         0       1                  McCarthy, Mr. Timothy J
7              8         0       3           Palsson, Master. Gosta Leonard
12            13         0       3           Saundercock, Mr. William Henry
13            14         0       3              Andersson, Mr. Anders Johan
16            17         0       3                     Rice, Master. Eugene
17            18         1       2             Williams, Mr. Charles Eugene
20            21         0       2                     Fynney, Mr. Joseph J
21            22         1       2                    Beesley, Mr. Lawrence
23            24         1       1             Sloper, Mr. William Thompson
26            27         0       3                  Emir, Mr. Farred Chehab
27            28         0       1           Fortune, Mr. Charles Alexander
29            30         0       3                      Todoroff, Mr. Lalio
30            31         0       1                 Uruchurtu, Don. Manuel E
33            34         0       2                    Wheadon, Mr. Edward H
34            35         0       1                  Meyer, Mr. Edgar Joseph
35            36         0       1           Holverson, Mr. Alexander Oskar
36            37         1       3                         Mamee, Mr. Hanna
37            38         0       3                 Cann, Mr. Ernest Charles
42            43         0       3                      Kraeff, Mr. Theodor
45            46         0       3                 Rogers, Mr. William John
46            47         0       3                        Lennon, Mr. Denis
48            49         0       3                      Samaan, Mr. Youssef
50            51         0       3               Panula, Master. Juha Niilo
51            52         0       3             Nosworthy, Mr. Richard Cater
54            55         0       1           Ostby, Mr. Engelhart Cornelius
55            56         1       1                        Woolner, Mr. Hugh
57            58         0       3                      Novel, Mr. Mansouer
..           ...       ...     ...                                      ...
840          841         0       3              Alhomaki, Mr. Ilmari Rudolf
841          842         0       2                 Mudd, Mr. Thomas Charles
843          844         0       3               Lemberopolous, Mr. Peter L
844          845         0       3                      Culumovic, Mr. Jeso
845          846         0       3                      Abbing, Mr. Anthony
846          847         0       3                 Sage, Mr. Douglas Bullen
847          848         0       3                       Markoff, Mr. Marin
848          849         0       2                        Harper, Rev. John
850          851         0       3  Andersson, Master. Sigvard Harald Elias
851          852         0       3                      Svensson, Mr. Johan
857          858         1       1                   Daly, Mr. Peter Denis
859          860         0       3                         Razi, Mr. Raihed
860          861         0       3                  Hansen, Mr. Claus Peter
861          862         0       2              Giles, Mr. Frederick Edward
864          865         0       2                   Gill, Mr. John William
867          868         0       1     Roebling, Mr. Washington Augustus II
868          869         0       3              van Melkebeke, Mr. Philemon
869          870         1       3          Johnson, Master. Harold Theodor
870          871         0       3                        Balkic, Mr. Cerin
872          873         0       1                 Carlsson, Mr. Frans Olof
873          874         0       3              Vander Cruyssen, Mr. Victor
876          877         0       3            Gustafsson, Mr. Alfred Ossian
877          878         0       3                     Petroff, Mr. Nedelio
878          879         0       3                       Laleff, Mr. Kristo
881          882         0       3                       Markun, Mr. Johann
883          884         0       2            Banfield, Mr. Frederick James
884          885         0       3                   Sutehall, Mr. Henry Jr
886          887         0       2                    Montvila, Rev. Juozas
889          890         1       1                    Behr, Mr. Karl Howell
890          891         0       3                      Dooley, Mr. Patrick

      Sex   Age  SibSp  Parch            Ticket      Fare        Cabin  \
0    male  22.0      1      0         A/5 21171    7.2500          NaN
4    male  35.0      0      0            373450    8.0500          NaN
5    male   NaN      0      0            330877    8.4583          NaN
6    male  54.0      0      0             17463   51.8625          E46
7    male   2.0      3      1            349909   21.0750          NaN
12   male  20.0      0      0         A/5. 2151    8.0500          NaN
13   male  39.0      1      5            347082   31.2750          NaN
16   male   2.0      4      1            382652   29.1250          NaN
17   male   NaN      0      0            244373   13.0000          NaN
20   male  35.0      0      0            239865   26.0000          NaN
21   male  34.0      0      0            248698   13.0000          D56
23   male  28.0      0      0            113788   35.5000           A6
26   male   NaN      0      0              2631    7.2250          NaN
27   male  19.0      3      2             19950  263.0000  C23 C25 C27
29   male   NaN      0      0            349216    7.8958          NaN
30   male  40.0      0      0          PC 17601   27.7208          NaN
33   male  66.0      0      0        C.A. 24579   10.5000          NaN
34   male  28.0      1      0          PC 17604   82.1708          NaN
35   male  42.0      1      0            113789   52.0000          NaN
36   male   NaN      0      0              2677    7.2292          NaN
37   male  21.0      0      0        A./5. 2152    8.0500          NaN
42   male   NaN      0      0            349253    7.8958          NaN
45   male   NaN      0      0   S.C./A.4. 23567    8.0500          NaN
46   male   NaN      1      0            370371   15.5000          NaN
48   male   NaN      2      0              2662   21.6792          NaN
50   male   7.0      4      1           3101295   39.6875          NaN
51   male  21.0      0      0        A/4. 39886    7.8000          NaN
54   male  65.0      0      1            113509   61.9792          B30
55   male   NaN      0      0             19947   35.5000          C52
57   male  28.5      0      0              2697    7.2292          NaN
..    ...   ...    ...    ...               ...       ...          ...
840  male  20.0      0      0  SOTON/O2 3101287    7.9250          NaN
841  male  16.0      0      0       S.O./P.P. 3   10.5000          NaN
843  male  34.5      0      0              2683    6.4375          NaN
844  male  17.0      0      0            315090    8.6625          NaN
845  male  42.0      0      0         C.A. 5547    7.5500          NaN
846  male   NaN      8      2          CA. 2343   69.5500          NaN
847  male  35.0      0      0            349213    7.8958          NaN
848  male  28.0      0      1            248727   33.0000          NaN
850  male   4.0      4      2            347082   31.2750          NaN
851  male  74.0      0      0            347060    7.7750          NaN
857  male  51.0      0      0            113055   26.5500          E17
859  male   NaN      0      0              2629    7.2292          NaN
860  male  41.0      2      0            350026   14.1083          NaN
861  male  21.0      1      0             28134   11.5000          NaN
864  male  24.0      0      0            233866   13.0000          NaN
867  male  31.0      0      0          PC 17590   50.4958          A24
868  male   NaN      0      0            345777    9.5000          NaN
869  male   4.0      1      1            347742   11.1333          NaN
870  male  26.0      0      0            349248    7.8958          NaN
872  male  33.0      0      0               695    5.0000  B51 B53 B55
873  male  47.0      0      0            345765    9.0000          NaN
876  male  20.0      0      0              7534    9.8458          NaN
877  male  19.0      0      0            349212    7.8958          NaN
878  male   NaN      0      0            349217    7.8958          NaN
881  male  33.0      0      0            349257    7.8958          NaN
883  male  28.0      0      0  C.A./SOTON 34068   10.5000          NaN
884  male  25.0      0      0   SOTON/OQ 392076    7.0500          NaN
886  male  27.0      0      0            211536   13.0000          NaN
889  male  26.0      0      0            111369   30.0000         C148
890  male  32.0      0      0            370376    7.7500          NaN

    Embarked
0          S
4          S
5          Q
6          S
7          S
12         S
13         S
16         Q
17         S
20         S
21         S
23         S
26         C
27         S
29         S
30         C
33         S
34         C
35         S
36         C
37         S
42         C
45         S
46         Q
48         C
50         S
51         S
54         C
55         S
57         C
..       ...
840        S
841        S
843        C
844        S
845        S
846        S
847        C
848        S
850        S
851        S
857        S
859        C
860        S
861        S

**End of Assignment.**